*, *::after, *::before { box-sizing: inherit }

html, body {
    background: #ededed;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}

html,
body,
p,
.logo {
    margin: 0;
    padding: 0;
}



/* Header area (mostly) */
header, main {
    /* background: #fff; */
    width: 375px;
    margin: 0 auto;
}

header,
.header-post,
.footer-post {
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #c6c6c6;
}

.logo {
    width: 127px;
    margin: 0;
    padding: 0;
}

.avatar-user {
    width: 34px;
    border-radius: 100%;
    margin: 0;
}

/* Main content */
.container-single-post {
    margin-bottom: 25px;
}

.header-post {
    display: flex;
    align-items: center;
    padding: 10px;
}

.bold {
    font-weight: 700;
}

.p-user-data {
    margin-left: 10px;
}

.location {
    display: block;
    font-size: 12px;
}

.img-post {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
/* Footer */
.footer-post {
    padding: 13px 13px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.p-footer {
    margin-top: 10px;
}

.btn {
    width: 25px;
    margin-right: 12px;   
}

.btn-like {
    cursor: pointer;
}

/* Utility classes */
.x {
    border: 1px solid hotpink;
}
